html{
    background-color:lightblue;
}
html{
font-family: 'Abril Fatface', cursive;
}
img{
    height:561px;
    width:500px;
}
img{
    border:dotted;
}
h1{
    font-family: 'Unica One', cursive;
    color:red;
}
html{
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350");
}